*.o
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
main
*/bin/*
*/secure/*
passwd
logins
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix